beautifulsoup4
bs4
certifi
charset-normalizer
click
Flask
Flask-Cors
ibm-cloud-sdk-core
ibm-watson
idna
itsdangerous
Jinja2
MarkupSafe
PyJWT
python-dateutil
requests
six
soupsieve
urllib3
websocket-client
Werkzeug
