{% extends "base.html" %}

{% block title %}Loading...{% endblock %}





{% block content %}


<br><br> 

<!-- simple form.... action will send to route. route accepts posts...
    print flask.request.form to get args -->


<div class="container bcontent">
    <div class="card" style="width: 500px;">
        <div class="card-title">
            Look Up A Song!
        </div>
        <div class="row no-gutters">
            <div class="col-sm-7">
                <!-- form inside of card body -->
                <div class="card-body">
                    <form action="search-results" method="post">
                        <label for="q">Enter Song Name or Artist</label>
                        <input type="search" name="q" value="" required>
                        <br><input type="checkbox" name="q_type" value="True">
                        <label class="form-check-label" for="artist">Artist (doesnt really work yet) </label><br>
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<br><br> 



{% endblock %}